<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<link rel="StyleSheet" th:href="@{/css/mystyle.css}"/>
		
		<title th:text="#{listOfProducts}"></title>
	</head>
	<body>	
		<header id="main-header">
			<a id="logo-header" href="/">
				<span class="site-name" th:text="#{titleIndex}"></span>
				<span class="site-desc" th:text="#{nameAuthor}"></span>
			</a>
			<nav>
				<ul>
					<li><a href="/" title="#{goToStart}" th:text="#{start}"></a></li>
					<li><a href="/list.html" title="#{goToProductList}" th:text="#{listOfProducts}"></a></li>
				</ul>
			</nav>
		</header>
		
		<section id="main-content">
			<div class="content">
				<h1 th:text="#{productList}"></h1>
				<ul>
					<li th:each="product : ${products}">
						<a th:href="@{/show(numProduct=${product.id})}"><span th:text="${product.name}"></span></a>
						 [<a th:href="@{/delete(numProduct=${product.id})}" th:text="#{delete}"></a>]
						  [<a th:href="@{/editProduct(numProduct=${product.id})}" th:text="#{edit}"></a>]</li>
				</ul>
				
				<a href="/" th:text="#{return}"></a>
			</div>
		</section>
	</body>
</html>